Last Updated : 06 Jun, 2025
CSS is written as a rule set, which consists of a selector and a declaration block. The basic syntax of CSS is as follows:

The selector is a targeted HTML element or elements to which we have to apply styling.
The Declaration Block or " { } " is a block in which we write our CSS.




↔​
        h1 {
            color: blue;
            /* Property: value */
            font-size: 24px;
        }
​
        p {
            color: green;
            font-size: 16px;
        }
    </style>
↔​
In above Example,

h1: This selector targets all <h1> elements on the page. The style applied to <h1> will set the text color to blue and the font size to 24px.
p: This selector targets all <p> elements. The text color will be green and the font size will be 16px.
